{% extends "base.html" %}

{% block title %}
    {{_('Graph Example')}}
{% endblock title %}

{% block content %}

    <h2 class="aba_header">{{_('Crop Name')}}: {{ crop.name }}</h2>
    <hr>

    {% if graph_data %}
        <hr>
        <table border="1">
            <th>Date</th>
            <th>Irrigation Need</th>
        {% for graph_data_item in graph_data %}
          <tr><td>{{ graph_data_item.start_date.strftime('%d-%m-%Y') }}</td><td>{{ graph_data_item.irrigation_need }}</td></tr>
        {% endfor %}
        </table>
    {% endif %}

{% endblock %}
