{% extends "base.html" %}

{% block title %}
    {{_('My Crops')}} - Smart Plant Care
{% endblock title %}

{% block content %}

    <h2 class="aba_header">{{_('My Crops')}}</h2>
    <hr>

    <div class="align-buttons"><a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('crop.my_crops', ordering_by='name') }}">{{_('Sorting by name')}}</a>
      &nbsp;&nbsp;&nbsp; <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('crop.my_crops', ordering_by='crop_size') }}">{{_('Sorting by size')}}</a></div>
    <hr>

    {% if crops %}

        {% for crop in crops.items %}

          <div class="row my-3 p-3 bg-body rounded shadow-sm">
            <div class="col col-md-12">
              {% if crop.image and crop.image != 'default_crop_image.png' %}
                <img src="{{ url_for('static', filename='images/crops_images/'+crop.image) }}" alt="" class="img-responsive a_image" height="480px">
              {% endif %}
            </div>
            <div class="col col-md-12">
              <div class="main-crop-title">
                <a class="crop_title" href="{{ url_for('crop.showCrop', crop_id=crop.id) }}">{{ crop.name | safe }} ({{ crop.location | safe }}) [{{ crop.crop_size | safe }}]</a>
              </div>
              <small class="crop_prefecture">[{{ crop.prefecture | safe }}]</small>
              <p class="main-crop-partial-text">
                {{ crop.area | safe }}
              </p>
              <p class="">{{_('By')}}
                <span>
                  <a class="owner-name" href="{{ url_for('crop.crops_by_owner', owner_id=crop.owner.id) }}"> {{ crop.owner.username }}
                    <img class="rounded-circle profile-image" alt="{{ crop.owner.username }}" src="{{ url_for('static', filename='images/profiles_images/'+crop.owner.profile_image) }}" data-holder-rendered="true" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ crop.owner.username }}">
                  </a>
                </span>
              </p>
            </div>
          </div>

          <hr>
        

        {% endfor %}

      <div>
        {% for page_number in crops.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

          {% if page_number %}

            {% if ordering_by %}

                {% if crops.page == page_number %}
                    <a class="btn btn-primary" href="{{ url_for('crop.my_crops', page=page_number, ordering_by=ordering_by) }}">{{ page_number }}</a>
                {% else %}
                    <a class="btn btn-outline-primary" href="{{ url_for('crop.my_crops', page=page_number, ordering_by=ordering_by) }}">{{ page_number }}</a>
                {% endif %}

            {% else %}

                {% if crops.page == page_number %}
                    <a class="btn btn-primary" href="{{ url_for('crop.my_crops', page=page_number) }}">{{ page_number }}</a>
                {% else %}
                    <a class="btn btn-outline-primary" href="{{ url_for('crop.my_crops', page=page_number) }}">{{ page_number }}</a>
                {% endif %}
            
            {% endif %}

          {% else %}
              <span>...</span>
          {% endif %}
        {% endfor %}

      </div>

    {% else %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">{{_('No crop found')}}</div>
    {% endif %}

{% endblock %}
